<div class="contact">
    <h3 class="contact__title">{{title}}</h3>
    <form class="contact__form" action="https://formspree.io/maria.sgr@gmail.com" method="POST">
        <label class="contact__label" for="name" *ngIf="name">¿Quién eres?</label>
        <input
            id="name"
            placeholder="Escribe tu nombre"
            class="contact__text"
            type="name"
            *ngIf="name"
        >
        <label class="contact__label" for="mail">¿Quién eres?</label>
        <input
            id="mail"
            placeholder="Escribe tu mail"
            class="contact__text"
            type="email"
            name="_replyto"
            required
        >
        <label class="contact__label" for="textarea">¿Qué me quieres contar?</label>
        <textarea
            id="textarea"
            class="contact__textarea"
            name="message"
            placeholder="Dime cosas bonitas"
            required
        ></textarea>
        <input class="contact__button" type="submit" value="Enviar">
    </form>
</div>
