<article class="superpower-item">
    <h3 class="bar__title">{{title}}</h3>
    <div class="superpower-item__container">
        <p class="superpower-item__type" [ngClass]="{'superpower-item__type--selected' : type === 'low' }">{{ 'superpower.low' | translate }}</p>
        <p class="superpower-item__type" [ngClass]="{'superpower-item__type--selected' : type === 'medium' }">{{ 'superpower.medium' | translate }}</p>
        <p class="superpower-item__type" [ngClass]="{'superpower-item__type--selected' : type === 'high' }">{{ 'superpower.high' | translate }}</p>
        <p class="superpower-item__type" [ngClass]="{'superpower-item__type--selected' : type === 'very' }">{{ 'superpower.very' | translate }}</p>
    </div>
</article>
