/************
GENERAL WEB
************/

a {
  text-decoration: none;
} 

@keyframes shaking {
  0% {
    transform: rotate(-10deg);
	}
	
  25% {
    transform: rotate(10deg);
	}
	
  50% {
    transform: rotate(-10deg);
	}
	
  75% {
    transform: rotate(10deg);
	}
	
  100% {
    transform: rotate(-10deg);
  }
}

@font-face {
  font-family: 'Iconomoon';
  font-style: normal;
  src: url('/font/iconomoon/fonts/iconomoon.woff') format('woff');
}
