/************
GENERAL WEB
************/

a {
  text-decoration: none;
} 

@keyframes shaking {
  0% {
    transform: rotate(-10deg);
	}
	
  25% {
    transform: rotate(10deg);
	}
	
  50% {
    transform: rotate(-10deg);
	}
	
  75% {
    transform: rotate(10deg);
	}
	
  100% {
    transform: rotate(-10deg);
  }
}

.animation-page{
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity:0;
	}
	
  to {
    opacity: 1;
	}
}

@font-face {
  font-family: 'Iconomoon';
  font-style: normal;
  src: url('/font/iconomoon/fonts/iconomoon.woff') format('woff');
}