<app-box class="home">
    <div class="animation-page">
        <app-heading text="home.hello"></app-heading>
        <p class="text">{{ 'home.subtitle' | translate }}</p>
        <figure class="home__logo-container">
            <img alt="" class="home__img" src="../../../assets/images/Logo-Mia.svg" />
        </figure>
        <p class="text">{{ 'home.textOne' | translate }}</p>
        <p class="text">{{ 'home.textTwo' | translate }}</p>
        <button class="home__button" (click)="attack()" >{{ 'home.attack' | translate }}</button>
        <app-bar [number]="number"></app-bar>
        <p *ngIf="number < 1">{{ 'home.thanks' | translate }}</p>
        <figure class="home__dinosaur-container" [ngClass]="{'home__dinosaur-container--defeat': number < 1}" [@changeDivSize]=currentState>
            <img alt="" src="../../../assets/images/dinosaur-important.png" class="home__dinosaur home__img" />
        </figure>
        <figure class="home__img-container">
            <img alt="" src="../../../assets/images/skyline.png" class="home__img" />
        </figure>
    </div>
</app-box>
