<article class="portfolio-item">
    <a class="portfolio-item__image-container" [href]="portfolio.link" attr.aria-label="{{'header.visit' | translate}}"
      [ngClass]="{ 'portfolio-item__image-container--active': portfolio.clicked }">
      <img class="portfolio-item__image" [src]="portfolio.image" alt=""/>
      <figcaption class="portfolio-item__tech">{{portfolio.tech}}</figcaption>
    </a>
    <div class="portfolio-item__more-info">
      <button class="portfolio-item__button" (click)="portfolio.clicked = !portfolio.clicked">{{'portfolio.tech' | translate}}</button>
      <a class="portfolio-item__button portfolio-item__button--link" [href]="portfolio.link">{{'portfolio.visit' | translate}}</a>
    </div>
</article>
